<section class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box">
                <div class="box-header bg-light-blue-active color-palette">
                    <h4 class="box-title">Rekap Absen Student - Cloud Strife</h4>
                </div>
                <div class="box-body">
                    
                    <p-table [value]="kelas" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)">
                        <!-- <thead>                   -->
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 5%">No</th>
                            <th>Kode Kelas</th>
                            <th>Course</th>
                            <th style="width: 8%">Pilih</th>
                          </tr>
                        </ng-template>
                        <!-- </thead> -->
                        <!-- <tbody> -->
                        <ng-template pTemplate="body" let-rowData let-kelas>
                          <tr [pSelectableRow]="rowData">
                            <td>{{kelas.noUrut}}</td>
                            <td>{{kelas.kelasKode}}</td>
                            <td>{{kelas.namaCourse}}</td>
                            <td>
                              <button type="button" class="btn btn-block btn-primary" routerLink="./#">
                                <i class="glyphicon glyphicon-search"></i>
                              </button>
                            </td>
                          </tr>
                          
                        </ng-template>
                        <!-- </tbody> -->        
                      </p-table>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>
