<section class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box">
                <div class="box-header bg-light-blue-active color-palette">
                    <h4 class="box-title">Laporan Nilai Materi {{subcourse.namaSubcourse}} Kelas {{kelas.kodeKelas}}</h4>
                </div>
                <div class="box-body">
                    <p-table [value]="detail" autoLayout = "true" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)">
                        <!-- <thead>                   -->
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 5%">No</th>
                            <th>NPM</th>
                            <th>Nama Murid</th>
                            <th>Kehadiran</th>
                            <th>Nilai</th>
                          </tr>
                        </ng-template>
                        <!-- </thead> -->
                        <!-- <tbody> -->
                        <ng-template pTemplate="body" let-rowData let-detail>
                          <tr [pSelectableRow]="rowData">
                            <td></td>
                            <td>{{detail.npm}}</td>
                            <td>{{detail.namaStudent}}</td>
                            <td>{{detail.status}}</td>
                            <td>{{detail.nilai}}</td>
                          </tr>
                         
                        </ng-template>
                        <!-- </tbody> -->        
                      </p-table>
                </div>
                <div class="box-footer">
                    <div class="box-tools pull-right">
                        <button class="btn btn-primary" (click)="onSubmit()" type="submit">Cetak Laporan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
