<section class="content-header"></section>
<section class="content">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- Default box -->
        <div class="box">
          <!-- <form action=""> -->
          <div class="box-header with-border bg-light-blue-active color-palette">
            <h2 class="box-title">Input Kelas</h2>
          </div>
          <div class="box-body">
            <div class="col-md-8">
                <div class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputMateri" class="col-sm-4 control-label">Kode Kelas</label>

                      <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Kode Kelas">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-4 control-label">Course</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                            <option>Java</option>
                            <option>PHP</option>
                            <option>Phyton</option>
                            <option>Angular</option>
                            <option>Kotlin</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Trainer</label>
                        <div class="col-sm-8">
                          <select class="form-control">
                              <option>Imam Farisi</option>
                              <option>Albus Dumbledore</option>
                              <option>Albert Einstein</option>
                              <option>Severus Snape</option>
                          </select>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
          <!-- </form> -->
          
          
          <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Tambah</button>
          </div>
          <!-- /.box-footer-->
        </div>
        <!-- /.box -->
      </div>  
    </div>
      
      
</section>

