
<section class="content-header">
    <h1>
      Current Course Detail
      <!-- <small>it all starts here</small> -->
    </h1>
  </section>
  
  <!-- Main content -->
  <section class="content">
  
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h2 class="box-title">{{kelas.course.namaCourse}} Kelas {{kelas.kodeKelas}}</h2>
        <div class="box-tools pull-right">
            <button class="btn btn-sm btn-block btn-primary" type="button" (click)="editDeskripsi()"> <i class="glyphicon glyphicon-pencil" *ngIf="!editClick"></i>&nbsp; {{buttonEdit}}</button>
        </div>
        
      </div>
      <div class="box-body">
        <h4>Pengenalan</h4>
        <div *ngIf="!editClick">
          <p>{{kelas.course.deskripsi}}</p>
          <!-- <p></p> -->
        </div>
        <div *ngIf="editClick">
          <div class="box-body">
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>
          </div>
          <div class="box-footer">
            <div class="box-tools pull-right">
              
              
            </div>
            <div class="box-tools pull-right">
              <button class="btn btn-sm btn-block btn-primary" type="button"> <i class="glyphicon glyphicon-pencil"></i>&nbsp; Edit</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="box-footer">
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
          <h2 class="box-title">Materi</h2>
          <div class="box-tools pull-right">
            <button class="btn btn-sm btn-block btn-primary" type="button" [routerLink]="['../addsubcourse']" [queryParams]="{idCourse: idCourse}"> 
              <i class="glyphicon glyphicon-plus"></i>&nbsp; Tambah Materi</button>
        </div>
        </div>
        
        <!-- /.box-body -->
        <div class="box-body">
          <p-table [value]="subcourse" autoLayout = "true">
            <ng-template pTemplate="header">
              <tr>
                <th>Materi</th>
                <th>Mulai</th>
                <th>Selesai</th>
                <th colspan="1">Pertemuan</th>
                <th>Edit</th>
                <!-- <th>Konfirmasi Absen</th> -->
                <th>Lihat Nilai</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-subcourse>
              <tr>
                <td>{{subcourse.namaSubcourse}}</td>
                <td>{{subcourse.tanggalMulai}}</td>
                <td>{{subcourse.tanggalSelesai}}</td>
                <td>
                  <button type="button" class="btn btn-block btn-primary" [routerLink]="['../pertemuan-detail']" [queryParams]="{idSubcourse:subcourse.idSubcourse, idKelas:idKelas}">
                    <i class="glyphicon glyphicon-briefcase" style="width: fit-content;"></i>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-block btn-primary" [routerLink]="['../editsubcourse']" [queryParams]="{idSubcourse:subcourse.idSubcourse}">
                    <i class="glyphicon glyphicon-pencil" style="width: fit-content;"></i>
                  </button>
                </td>
                <!-- <td>
                  <button type="button" class="btn btn-block btn-primary" [routerLink]="['../listabsen']" [queryParams]="{idSubcourse:subcourse.idSubcourse, idKelas:kelas.idKelas}">
                    <i class="glyphicon glyphicon-th-list" style="width: fit-content;"></i>
                  </button>
                </td> -->
                <td>
                  <button type="button" class="btn btn-block btn-primary" [routerLink]="['../nilaimateri']" [queryParams]="{idSubcourse:subcourse.idSubcourse, idKelas:kelas.idKelas}">
                    <i class="glyphicon glyphicon-list-alt" style="width: fit-content;"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="col-md-10" *ngIf="dataNotNull">              
          </div>
          
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
         
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      <div class="modal modal-danger fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Apa anda ingin menghapus data ini</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Tidak</button>
              <button type="button" class="btn btn-outline">Ya</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
  </section>
  <!-- /.content -->

<p-dialog header="Upload Materi {{subcourseInput.namaSubcourse}}" [(visible)]="display">
  <div class="form-group" enctype="multipart/form-data">
    <label for="inputMateri" class="col-sm-4 control-label">Silahkan Upload File Materi</label>
    <div class="col-sm-8">
      <input enctype="multipart/form-data" name="fileMateri" type="file" id="fileMateri" (change)="handleInputMateri($event.target.files)">
    </div>
  </div>
  <p-footer>
    <button type="submit" pButton icon="pi pi-check" (click)="onUploadMateri(); display=false" label="Upload"></button>
    <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>

<p-toast position="bottom-center"></p-toast>