
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="box">
        <div class="box-header bg-light-blue-active color-palette">
          <h4 class="box-title">Silabus Kelas {{kelas.kodeKelas}}</h4>
        </div>
        <div class="box-body">
          <h5>Instruktur : {{kelas.course.trainer.namaTrainer}}</h5>
          <br>
          <p-table #dt [value]="subcourse" autoLayout= "true" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)">
            <ng-template pTemplate="header">
              <tr>  
                <th style="width: 5%;">No</th>
                <th>Materi</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Selesai</th>
                <th colspan="2" style="width: 18%">Pilih</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-subcourse let-i="rowIndex">
              <tr [pSelectableRow]="rowData">
                <td>{{i+1}}</td>
                <td>{{subcourse.namaSubcourse}}</td>
                <td>{{subcourse.tanggalMulai}}</td>
                <td>{{subcourse.tanggalSelesai}}</td>
                <td style="width: 5%;">
                  <div *ngIf="hiddenGo(subcourse.tanggalMulai)">
                    <button class="btn btn-primary" [routerLink]="['../pertemuan']" [queryParams]="{idKelas:kelas.idKelas, subCourse:subcourse.idSubcourse}"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                  <div *ngIf="!hiddenGo(subcourse.tanggalMulai)">
                    <p>N/A</p>
                  </div>
                </td>
                <td style="width: 13%;"><button class="btn" [routerLink]="['../test-page']" [queryParams]="{idSubcourse: subcourse.idSubcourse}">Test</button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="box-footer">
          <p>*Detail kelas akan berubah mengikuti trainer, silahkan berkoordinasi dengan trainer.</p>
          <p>*N/A berarti subcourse belum tersedia, subcourse akan tersedia apabila waktu terpenuhi.</p>
        </div>
      </div>
    </div>
  </div>
  

</section>
<!-- /.content -->
