<section class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box">
                <div class="box-header bg-light-blue-active color-palette">
                    <h4 class="box-title">List Absen {{subcourse.namaSubcourse}} Kelas {{kelas.kodeKelas}}</h4>
                </div>
                <div class="box-body">
                    <p-table [value]="detail" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)">
                        <!-- <thead>                   -->
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 5%">Pertemuan</th>
                            <th>Nama Peserta</th>
                            <th style="width: 15%">Pilih</th>
                          </tr>
                        </ng-template>
                        <!-- </thead> -->
                        <!-- <tbody> -->
                        <ng-template pTemplate="body" let-rowData let-detail>
                          <tr [pSelectableRow]="rowData">
                            <td>{{detail.pertemuan}}</td>
                            <td>{{detail.namaStudent}}</td>
                            <td>
                              <button type="button" class="btn btn-block btn-primary" routerLink="./enroll">
                                Konfirmasi
                              </button>
                            </td>
                          </tr>
                          <!-- <tr>
                            <td>PHP</td>
                            <td>Albert Einstein</td>
                            <td>17-4-2020</td>
                            <td>20-5-2020</td>
                            <td><button type="button" class="btn btn-block btn-primary">Lihat</button></td>
                          </tr> -->
                        </ng-template>
                        <!-- </tbody> -->        
                      </p-table>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>
