<section class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box">
                <div class="box-header bg-light-blue-active color-palette">
                    <h4 class="box-title">Rekap Absen {{namaCourse}} Kelas {{kelas.kodeKelas}}</h4>
                   
                </div>
                <div class="box-body">
                    
                    <p-table [value]="subcourse" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)">
                        <!-- <thead>                   -->
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 5%">No</th>
                            <th>Materi</th>
                            <th>Tgl Mulai</th>
                            <th>Tgl Selesai</th>
                            <th style="width: 7%">Pilih</th>
                          </tr>
                        </ng-template>
                        <!-- </thead> -->
                        <!-- <tbody> -->
                        <ng-template pTemplate="body" let-rowData let-subcourse let-i="rowIndex">
                          <tr [pSelectableRow]="rowData">
                            <td>{{i+1}}</td>
                            <td>{{subcourse.namaSubcourse}}</td>
                            <td>{{subcourse.tanggalMulai}}</td>
                            <td>{{subcourse.tanggalSelesai}}</td>
                            <td>
                              <button type="button" class="btn btn-block btn-primary" routerLink="../list-pertemuan-rekap-absen" [queryParams]="{idKelas: kelas.idKelas, idSubcourse: subcourse.idSubcourse}">
                                <i class="glyphicon glyphicon-search"></i>
                              </button>
                            </td>
                          </tr>
                          
                        </ng-template>
                        <!-- </tbody> -->        
                      </p-table>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
    
</section>
