<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li id="sideDashboard">
        <a routerLink ="./">
          <i class="glyphicon glyphicon-home"></i> <span>Dashboard</span>
        </a>
      </li>
      <li id="sideNilai">
        <a routerLink = "./list-rekap-nilai">
          <i class="fa fa-check-square-o"></i> <span>Nilai E-Learning</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-check-square-o"></i> <span>Rekap</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li id="sideRekapNilai"><a routerLink = "./list-rekap-nilai"><i class="fa fa-circle-o"></i> Nilai</a></li>
          <li id="sideRekapAbsen"><a routerLink = "./list-rekap-absen"><i class="fa fa-circle-o"></i> Absen</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
