<section class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box">
                <div class="box-header bg-light-blue-active color-palette">
                    <h4 class="box-title">Input Nilai Materi {{subcourse.namaSubcourse}} Kelas {{kelas.kodeKelas}}</h4>
                </div>
                <div class="box-body">
                    <p-table [value]="formInput" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)">
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 5%">No</th>
                            <th>NPM</th>
                            <th>Nama Peserta</th>
                            <th>Download File Test</th>
                            <th style="width: 10%">Nilai</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-formInput>
                          <tr [pSelectableRow]="rowData">
                            <td></td>
                            <td>{{formInput.npm}}</td>
                            <td>{{formInput.namaStudent}}</td>
                            <!-- <td><a href="{{formNilai.fileLink}}">Link...</a></td> -->
                            <td><a href="#">Link...</a></td>
                            <td>
                              <!-- <input class="form-control" placeholder="Nilai" type="number" [(ngModel)]="formNilai.nilaiForm" value="{{formNilai.nilaiForm}}"> -->
                              <input class="form-control" placeholder="Nilai" type="number">
                            </td>
                          </tr>
                         
                        </ng-template>
                        <!-- </tbody> -->        
                      </p-table>
                </div>
                <div class="box-footer">
                    {{notifNilai}}
                    <div class="box-tools pull-right">
                        <button class="btn btn-sm btn-block btn-primary" type="button">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
