<section class="content-header">
  <h1>
    Hello Murid1!
    <!-- <small>it all starts here</small> -->
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h1 class="box-title">Java Basic</h1>
    </div>
    <div class="box-body">
      <h5>Deskripsi</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <button style="width: 200px" type="button" class="btn btn-block btn-primary">Download Materi Java Basic</button>
      <br>
      <p>Test Start : 26-4-2020 11:00</p>
      <p>Test End : 26-4-2020 15:00</p>
      <button style="width: 80px" type="button" class="btn btn-block btn-primary">Test Start</button>
    </div>
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->

<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Diskusi : Java Basic</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
        <div class="form-group">
          <label>Diskusikan sesuatu</label>
          <textarea class="form-control" rows="3" placeholder="Ikut Berdiskusi . . . "></textarea>
          <button style="width: fit-content;" type="submit" class="btn btn-block btn-primary pull-right">
            <i class="fa fa-angle-double-right"></i>
            <span> Send</span>
          </button>
        </div>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td style="width: 160px; height: 100px;" align="center">
                <img alt="User Image" class="user-image" src="assets/dist/img/user2-160x160.jpg" style="height: 128px; width: 128px;"><br>
                Murid 1
              </td>
              <td>Mas mau nanya?????</td>
            </tr>
            <tr>
              <td style="width: 160px; height: 100px;" align="center">
                <img alt="User Image" class="user-image" src="assets/dist/img/user1-128x128.jpg" style="height: 128px; width: 128px;"><br>
                Mas Imam
              </td>
              <td>Mau nanya apa??</td>
            </tr>
          </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      Footer
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

</section>
