<section class="content-header">
  <h1>
    Hello Murid1!
    <!-- <small>it all starts here</small> -->
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h1 class="box-title">Java Basic</h1>
    </div>
    <div class="box-body">
      <h5>Deskripsi</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <button style="width: 200px" type="button" class="btn btn-block btn-primary" (click)="onClick()">Download Materi Java Basic</button>
      <br>
    </div>
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
