<!-- Main content -->
<section class="content">
  <div class="row" *ngIf="notifabsen1">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="box">
        <div class="box-header bg-light-blue-active color-palette">
          <h4 class="box-title">Absensi Pertemuan {{pertemuan.pertemuan}} {{pertemuan.idSubcourse.namaSubcourse}} </h4>
        </div>
        <div class="box-body">
          <p>Untuk mengakses materi Pertemuan {{pertemuan.pertemuan}} {{pertemuan.idSubcourse.namaSubcourse}} ini, anda harus mengabsen terlebih dahulu. Klik tombol absen dibawah ini, lalu tunggu konfirmasi absen dari trainer. Setelah absen anda dikonfirmasi maka anda dapat mengakses materi pertemuan ini.</p>
          <br><br>
          <div class="box-tools">
            <button class="btn-lg btn-primary center-block" style="font-size: 12px; align-items: center;" (click)="absenGo(absensi)">Klik Disini untuk ke Absen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="notifabsen2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="box">
        <div class="box-header bg-light-blue-active color-palette">
          <h4 class="box-title">Absensi Pertemuan {{pertemuan.pertemuan}} {{pertemuan.idSubcourse.namaSubcourse}}</h4>
        </div>
        <div class="box-body">
          <p>Anda telah melakukan absen. Proses absen anda menunggu konfirmasi dari trainer. Anda dapat mengakses materi setelah absen anda dikonfirmasi. Mohon harap tunggu</p>
          
        </div>
      </div>
    </div>
    
  </div>
  <div class="row" *ngIf="showmateri">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="box">
        <div class="box-header with-border bg-light-blue-active color-palette">
          <h1 class="box-title">Pertemuan {{pertemuan.pertemuan}} {{pertemuan.idSubcourse.namaSubcourse}}</h1>
        </div>
        <div class="box-body">
          <h5>Deskripsi</h5>
          <p>{{pertemuan.idSubcourse.deskripsi}}</p>
          <button style="width: 200px" type="button" class="btn btn-block btn-primary" (click)="downloadFile(pertemuan.idMateri.idMateri)">Download Materi {{pertemuan.idSubcourse.namaSubcourse}}</button>
          <br>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- /.content -->
