<section class="content-header">
  <h1>
    Hello Murid1!
    <!-- <small>it all starts here</small> -->
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Course Anda</h3>
    </div>
    <div class="box-body" *ngIf="tableIsEmpty; else notEmpty">
      <p align="center">Anda belum menambahkan course ke dalam akun anda, silahkan pilih salah satu course dibawah.</p>
    </div>
    <ng-template #notEmpty>
      <p-table [value]="takenCourse">
        <ng-template pTemplate="header">                  
          <tr>
            <th style="width: 60px;">Kode</th>
            <th style="width: 100px">Kelas</th>
            <th>Open Kelas</th>
            <th style="width: 80px">Pilih</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-takenCourse>
          <tr>
            <td>{{takenCourse.kelas.kodeKelas}}</td>
            <td>{{takenCourse.kelas.course.namaCourse}}</td>
            <td>{{takenCourse.kelas.openKelas}}</td>
            <td>
              <button type="button" class="btn btn-block btn-primary" routerLink="./enroll">
                Lihat
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
    <!-- /.box-body -->
    <div class="box-footer">
      <!-- Footer -->
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

  <!-- PILIH COURSE -->

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Pilih Kelas</h3>

      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <p-table #dt [value]="courses" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)">
        <ng-template pTemplate="caption">
          <div style="text-align: right">        
              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Pencarian . . ." (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>  
            <th style="width: 60px;">Kode</th>
            <th>Kelas</th>
            <th>Instruktur</th>
            <th>Mulai</th>
            <th>Selesai</th>
            <th style="width: 80px">Pilih</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-course>
          <tr [pSelectableRow]="rowData">
            <td>{{course.kode}}</td>
            <td>{{course.namaCourse}}</td>
            <td>{{course.trainer.namaTrainer}}</td>
            <td>{{course.mulai}}</td>
            <td>{{course.selesai}}</td>
            <td>
              <button type="button" class="btn btn-block btn-primary" routerLink="./enroll">
                Lihat
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>
