<section class="content-header">
  <h1>
    <!-- Hello Murid1! -->
    <!-- <small>it all starts here</small> -->
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Nilai E-Learning</h3>

      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <thead>                  
          <tr>
            <th style="width: 100px">Enroll</th>
            <th>Instruktur</th>
            <th>Nilai</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Java</td>
            <td>Imam Farisi</td>
            <td>88</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
<!-- Detail nilai -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Java</h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered">
            <thead>                  
              <tr>
                <th>Materi</th>
                <th>Nilai</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Java Basic</td>
                <td>96</td>
              </tr>
              <tr>
                <td>OOP</td>
                <td>87</td>
              </tr>
              <tr>
                <td>Java Features</td>
                <td>80</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
