<section class="content-header">
  <h1>
    Hello Murid1!
    <!-- <small>it all starts here</small> -->
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h1 class="box-title">List Materi Pembelajaran</h1>

      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <thead>                  
          <tr>
            <th style="width: 100px">Pekan</th>
            <th>Materi</th>
            <th>Mulai</th>
            <th>Selesai</th>
            <th style="width: 40px">Go</th>
            <th style="width: 40px">Test</th>
            <th style="width: 40px">Forum</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Java Basic</td>
            <td>20-4-2020</td>
            <td>26-4-2020</td>
            <td><button type="button" class="btn btn-block btn-primary">Mulai</button></td>
            <td><button type="button" class="btn btn-block btn-primary">Mulai</button></td>
            <td><button type="button" class="btn btn-block btn-primary">Enter</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>OOP</td>
            <td>27-4-2020</td>
            <td>2-5-2020</td>
            <td><button type="button" class="btn btn-block btn-primary">Mulai</button></td>
            <td><button type="button" class="btn btn-block btn-primary">Mulai</button></td>
            <td><button type="button" class="btn btn-block btn-primary">Enter</button></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Java Features</td>
            <td>3-5-2020</td>
            <td>9-5-2020</td>
            <td><button type="button" class="btn btn-block btn-primary">Mulai</button></td>
            <td><button type="button" class="btn btn-block btn-primary">Mulai</button></td>
            <td><button type="button" class="btn btn-block btn-primary">Enter</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
