<section class="content-header">
  <h1>
    Hello Murid1!
    <!-- <small>it all starts here</small> -->
  </h1>
</section>

<!-- Main content -->
<section class="content"> 

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h1 class="box-title">Pelatihan Java</h1>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <h4 class="box-title">Instruktur : Imam Farisi</h4>
      <table class="table table-bordered">
        <thead>                  
          <tr>
            <th style="width: 40px">Pekan</th>
            <th>Materi</th>
            <th>Waktu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Java Basic</td>
            <td>7 hari</td>
          </tr>
          <tr>
            <td>2</td>
            <td>OOP</td>
            <td>7 Hari</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Java Features</td>
            <td>7 Hari</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button style="width: 60px; " type="button" class="btn btn-block btn-primary pull-right">Pilih</button>
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
