<section class="content-header">
  <h1>
    Hello Murid1!
    <!-- <small>it all starts here</small> -->
  </h1>
</section>

<!-- Main content -->
<section class="content"> 

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h1 class="box-title">Informasi Kelas</h1>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <h1>Kelas {{kelas.course.namaCourse}}</h1>
      <h4 class="box-title">Instruktur : {{kelas.course.trainer.namaTrainer}}</h4>
      <p>Jadwal: {{kelas.course.waktuMulai}} - {{kelas.course.waktuSelesai}}</p>
      <p>Java sebagai salah satu bahasa pemrograman yang sudah berumur dari era 1990-an, kian berkembang dan melebarkan dominasinya di berbagai bidang. 
        Di kelas ini, anda akan belajar tentang dasar-dasar bahasa pemrograman Java, konsep Object Oriented Programming(OOP), hingga fitur-fitur yang dimiliki oleh Java. 
        Kelas akan dimulai setiap pukul 09:00 WIB setiap Senin-Jum'at</p>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button style="width: 60px; " type="button" class="btn btn-block btn-primary pull-right" (click)="onPilih()" routerLink="../../">
        Pilih
      </button>
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
