<section class="content-header"></section>
<section class="content">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- Default box -->
        <div class="box">
          <!-- <form action=""> -->
          <div class="box-header with-border bg-light-blue-active color-palette">
            <h2 class="box-title">Edit Trainer</h2>
          </div>
          <div class="box-body">
            <div class="col-md-8">
                <div class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-4 control-label">Nama Trainer</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Nama" [(ngModel)]="trainer.namaTrainer">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-4 control-label">Email</label>
                      <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="trainer.email">
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-4 control-label">No. HP</label>

                      <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="No. HP" [(ngModel)]="trainer.hp">
                      </div>
                    </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Password Baru</label>
  
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="password" id="{{errPass}}" [(ngModel)]="newPass">
                          <span class="help-block">{{alert}}</span>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
          <!-- </form> -->
          
          
          <div class="box-footer">
            <div class="box-tools">
              <p></p>
            </div>
            <button type="submit" class="btn btn-info pull-right" (click)="edit()">Edit</button>
          </div>
          <!-- /.box-footer-->
        </div>
        <!-- /.box -->
      </div>  
    </div>   
    
<div>
  <footer>
    <a class="previous" (click) ="prevPage();">&laquo; Previous</a>
  </footer>
</div>  

</section>
