<section class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box">
                <div class="box-header bg-light-blue-active color-palette">
                    <h4 class="box-title">Rekap Absen Student - Cloud Strife - X123 Java</h4>
                </div>
                <div class="box-body">
                    <div class="box-tools">
                        <button class="btn btn-primary"><i class="glyphicon glyphicon-print"></i></button>
                    </div>
                    <br>
                    <p-table [value]="absenTrainer" autoLayout= "true" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)">
                        <!-- <thead>                   -->
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Pertemuan</th>
                            <th>Tanggal</th>
                            <th>Materi</th>
                            <th>Kehadiran</th>
                          </tr>
                        </ng-template>
                        <!-- </thead> -->
                        <!-- <tbody> -->
                        <ng-template pTemplate="body" let-rowData let-absenTrainer>
                          <tr [pSelectableRow]="rowData">
                            <td>{{absenTrainer.pertemuan}}</td>
                            <td>{{absenTrainer.tgl}}</td>
                            <td>{{absenTrainer.materi}}</td>
                            <td>{{absenTrainer.absensi}}</td>
                          </tr>
                          
                        </ng-template>
                        <!-- </tbody> -->        
                      </p-table>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>
